<div class="breadcrumbs_area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="product_details mt-70 mb-70">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 product_content" >
              <h1 style="text-align: center;color: red;">Card Declined </h1>
            </div>
          </div>
        </div>
      </div>

