    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="breadcrumb_content">
                      <h3>Terms and Conditions</h3>
                      <ul>
                          <li><a href="index.html">home</a></li>
                          <li>Terms and Conditions</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--breadcrumbs area end-->


  <!--about section area -->
    <section class="about_section">
      <div class="container">
           <div class="row">
               <div class="col-12">
                  <figure>
                        <h3 style="font-weight: bold;" class="MenuBackground">Terms and Conditions</h3>
                        <p style="font-weight: bold;">Payment Method</p>
                              <ul >
                                <li>All payments shell be made in advanced prior to order delivery</li>
                                <li>Miraj Foods accepts following payment options:</li>
                                    <ul>
                                      <li>VISA</li>
                                      <li>Master Card</li>
                                      <li>EFT (email funds transfer) to (info@mirajfoods.ca)</li>
                                    </ul>
                                <li>Place an order, all customers are required to register/login. Customers are responsible for entering correct information and contact details for communication related to your order</li>
                                <li>As part of the registration process, Miraj Foods may collect the following personal information; Including first and last name, email address and phone number. We do not share any personal information with third parties. All our data is kept confidential.  </li>
                                <li>Miraj Foods is committed to charge customers the prices offered at times the orders are placed. In case the prices fluctuate either way on the date of delivery. No additional charges will be collected or refunds will be issued. </li>
                                <li>Customer can cancel their orders 24 hours prior to delivery date, by calling our customer services desk between 09:00am to 05:00pm (Monday through Friday).</li>
                                <li>If Miraj Foods suspect any fraudulent transaction by any customer or transaction which defines the terms and conditions of using the website. We at our sole discretion could cancel such orders.</li>
                              </ul>


                      <br>
                      <p style="font-weight: bold;">Shipping Policy</p>

                      <ul >
                        <li>All orders are subject to product availability. If an item is not in stock at the time you place your order, we will notify you and refund you the total amount of your order, using the original method of payment</li>
                        <li>Items offered on our flyer and website are only available for delivery to addresses within the GTA and surrounding areas</li>
                        <li>An estimated delivery time will be provided to you once your order is placed. Delivery times are an estimate and commence from the date of shipping, rather than the date of order</li>
                        <li>We make every effort to fulfill your order within two business days of the date of your order. Business days are Monday through Friday, except holidays</li>
                        <li>Shipping costs are based on the address and the delivery method. To find out how much your delivery will cost, simply call our office at 905-965-4459. When you place your order online, taxes and shipping calculated at checkout</li>
                        <li>Additional shipping charges may apply to remote areas or for large and heavy items </li>
                        <li>If there is any damage to the packaging upon delivery, contact us immediately via phone call at 905-965-4459 or email: info@mirajfoods.ca</li>

                        </ul>

                        <br>
                        <p style="font-weight: bold;">Return Policy</p>

                        <ul >
                          <li>Due to food safety protocols all sales are final. No returns or exchanges will be accepted</li>
                          <li>We do not accept returns or exchanges unless the item you purchased is defected. If you receive a defected item, please contact us immediately at 905-965-4459 with details of the purchased product and defect.</li>
                          <li>You can send the item you consider defective to: 127 Dundas Street East, Unit A Mississauga, ON. L5A 1W7</li>
                          <li>Upon receiving the returned product, we will examine and notify you via a phone call or email, within a reasonable period of time, whether you are entitled to a refund or a replacement as a result of the defect.  </li>
                          <li>If you are entitled to a replacement or refund, we will replace the product or refund the purchase price, using the original method of payment.</li>

                          </ul>


                   </figure>
               </div>
           </div>
       </div>
   </section>
   <!--about section end-->



