    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="breadcrumb_content">
                      <h3>About Us</h3>
                      <ul>
                          <li><a href="index.html">home</a></li>
                          <li>about us</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--breadcrumbs area end-->


  <!--about section area -->
    <section class="about_section">
      <div class="container">
           <div class="row">
               <div class="col-12">
                  <figure>
  <h3 style="font-weight: bold;" class="MenuBackground">About Us</h3>
  <figcaption class="about_content">
                           <p>Miraj Foods was founded with the vision of providing an online shopping experience to GTA and surrounding area. Miraj Foods proudly offer an online store for (halal) hand slaughtered chicken. Our daily shipments ensure the freshest products delivery and all of our products are certified halal by hand.</p>

<br>
<p style="text-align: center;font-weight: bold;" class="MenuBackground">
                            We do not supply any products that do not fulfill the strict halal guidelines.
</p>
<br>
<p>
  Miraj Foods provide fast, reliable and always competitive rates. Our priority is to make sure your calls are answered and order will be delivered on time with utmost care. Miraj drivers are always being courteous and prompt, whether your orders are small or large, let the Miraj handle your chicken needs.

</p>

                       </figcaption>
                   </figure>
               </div>
           </div>
       </div>
   </section>
   <!--about section end-->

   <!--chose us area start-->


   <!--chose us area end-->

   <!--services img area-->
   <div class="about_gallery_section">
       <div class="container">
          <div class="about_gallery_container">
               <div class="row">
                   <div class="col-lg-4 col-md-4">
                       <article class="single_gallery_section">
                           <figure>

                               <figcaption class="about_gallery_content">
                                  <h3 style="font-weight: bold;" class="MenuBackground">Vision</h3>
                                   <p>Benchmark of excellence in online shopping.</p>
                               </figcaption>
                           </figure>
                       </article>
                   </div>
                   <div class="col-lg-4 col-md-4">
                       <article class="single_gallery_section">
                           <figure>
                               <figcaption class="about_gallery_content">
                                  <h3 style="font-weight: bold;" class="MenuBackground">Mission</h3>
                                   <p>Excellence in online business and innovation for sustained growth through prudent business practices.</p>
                               </figcaption>
                           </figure>
                       </article>
                   </div>
                   <div class="col-lg-4 col-md-4">
                       <article class="single_gallery_section">
                           <figure>
                               <figcaption class="about_gallery_content">
                                  <h3 style="font-weight: bold;" class="MenuBackground">Values</h3>
                                   <p>By doing the things in right way, we can support our customer, while having a positive impact on economy.</p>
                               </figcaption>
                           </figure>
                       </article>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!--services img end-->

   <!--testimonial area start-->

   <!--testimonial area end-->

