  <!--header area start-->

    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay sticky-header ">

    </div>
    <div class="offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="icon-menu"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="icon-x"></i></a>
                        </div>
                        <div class="language_currency">
                            <ul>
                                <li class="language"><a href="#"> Language <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Russian</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="#"> Currency <i class="icon-right ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">€ Euro</a></li>
                                        <li><a href="#">£ Pound Sterling</a></li>
                                        <li><a href="#">$ US Dollar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header_social text-right">
                            <ul>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>

                        <div class="call-support">
                            <p><a href="tel:(08)23456789">(08) 23 456 789</a> Customer Support</p>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Home Organic</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">Organic 01</a></li>
                                                <li><a href="index-2.html">Organic 02</a></li>
                                                <li><a href="index-3.html">Organic 03</a></li>
                                                <li><a href="index-4.html">Organic 04</a></li>
                                                <li><a href="index-5.html">Organic 05</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Home Cosmetic</a>
                                            <ul class="sub-menu">
                                                <li><a href="index-6.html">Cosmetic 01</a></li>
                                                <li><a href="index-7.html">Cosmetic 02</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Shop Layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                <li><a href="shop-list.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">other Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Product Types</a>
                                            <ul class="sub-menu">
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                                <li><a href="product-grouped.html">product grouped</a></li>
                                                <li><a href="variable-product.html">product variable</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                        <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">services</a></li>
                                        <li><a href="faq.html">Frequently Questions</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="my-account.html">my account</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="about.html">about Us</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="contact.html"> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--offcanvas menu area end-->

    <header>
        <div class="main_header sticky-header">
            <div class="header_top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">

                        </div>
                        <div class="col-lg-6">
                            <div class="header_social text-right">
                                <ul>
                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-3">
                            <!-- <div class="logo">
                                <a href="{{HomeUrl}}"><img src="assets/img/logo/mirajlogo.png" alt=""></a>
                            </div> -->
                        </div>
                        <div class="col-lg-10 col-md-6 col-sm-7 col-8">
                            <div class="header_right_info">

                                <div class="header_account_area">
                                     <div class="header_account_list register" *ngIf="!isLoggedIn">
                                        <ul>
                                            <li><a routerLink="/login">Register </a></li>
                                            <li><span>/</span></li>
                                            <li><a routerLink="/login">Login</a></li>
                                        </ul>
                                    </div>
                                    <div class="header_account_list register" *ngIf="isLoggedIn">
                                      <ul>
                                        <li> Hi {{Name}} </li> &nbsp;
                                        <a  routerLink='/MyAccount'> My Account</a>
                                         &nbsp;
                                        <a  routerLink='/logout'>Log Out</a>

                                      </ul>
                                    </div>
                                   <br>
                                    <DIV>

                                    </DIV>

                                    <div class="header_account_list  mini_cart_wrapper"  >
                                      <a href="javascript:void(0)"><span class="lnr lnr-cart"></span><span class="item_count">{{cartItemCount}}</span></a>
                                       <!--mini cart-->
                                       <div class="mini_cart">
                                           <div class="cart_gallery" >
                                               <div class="cart_close">
                                                 <div class="cart_text" >
                                                   <h3>Shopping Cart</h3>
                                                 </div>
                                                 <div class="mini_cart_close">
                                                   <a href="javascript:void(0)"><i class="icon-x"></i></a>
                                                 </div>
                                               </div>
                                               <div class="cart_item"  *ngFor="let c of productAddedTocart;let q = index" >
                                                  <div class="cart_img">
                                                      <a href="#"><img src="{{c.item_primary_thumb}}" alt=""></a>
                                                  </div>
                                                   <div class="cart_info">
                                                       <a href="#">{{c.item_description}}</a>
                                                       <p>{{c.qty}} x <span> {{c.item_price}} </span></p>
                                                   </div>
                                                   <div class="cart_remove">
                                                       <a (click)="DeleteProduct(c)"><i class="icon-x"></i></a>
                                                   </div>
                                               </div>

                                           </div>
                                           <div class="mini_cart_table">
                                               <div class="cart_table_border">
                                                   <div class="cart_total">
                                                       <span>Total:</span>
                                                       <span class="price">{{Total | currency:'CAD'}}</span>
                                                   </div>

                                               </div>
                                           </div>
                                           <div class="mini_cart_footer">
                                              <div class="cart_button" >
                                                   <a routerLink="/mycartDetail"><i class="fa fa-shopping-cart"></i> View cart</a>
                                               </div>
                                               <div class="cart_button" >
                                                   <a routerLink='/checkout'><i class="fa fa-sign-in"></i> Checkout</a>
                                               </div>

                                           </div>
                                       </div>
                                       <!--mini cart end-->
                                  </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="header_bottom">
              <div class="container">
                  <div class="row align-items-center">

                      <div class="col-lg-3 col-md-6">
                          <div class="categories_menu">
                              <div class="categories_title" >
                                  <h2 class="categori_toggle">SHOP ONLINE</h2>
                              </div>
                              <div class="categories_menu_toggle" >
                                  <ul>
                                      <li class="menu_item_children" *ngFor="let p of MenuModel">
                                              <a href="#">{{p.catalog_description}}<i class="fa fa-angle-right"></i></a>

                                          <ul class="categories_mega_menu" >
                                              <div class="row">
                                                <div class="col-md-4" *ngFor="let c of p.Category">
                                                  <li class="menu_item_children"><a href="filterproduct/{{c.Category_ID}}/CAT"><b><u>{{c.Category_Description}}</u></b></a>
                                                   </li>
                                                 <!--  <a [routerLink]="['/filterproduct',c.Category_ID,'CAT']"><b><u>{{c.Category_Description}}</u></b></a> -->



                                                <!--  <ul class="categorie_sub_menu"  *ngFor="let item of c.item">
                                                      <li><a [routerLink]="['/itemdetail',item.item_id]">{{item.item_description}}</a></li>
                                                  </ul> -->

                                            </div>
                                            </div>
                                          </ul>
                                      </li>
                                  </ul>
                              </div>

                          </div>
                      </div>
                      <div class="col-lg-7">
                          <!--main menu start-->
                          <div class="main_menu menu_position">
                              <nav>
                                  <ul>
                                      <li><a class="active MenuBackground"  href="{{HomeUrl}}" >HOME</a>

                                      </li>
                                      <li class="mega_items"><a href="#" class="MenuBackground">PRODUCTS<i class="fa fa-angle-down"></i></a>
                                          <div class="mega_menu">
                                              <ul class="mega_menu_inner" *ngFor="let p of MenuModel">
                                                  <li><a [routerLink]="['/filterproduct',p.catalog_id,'ALL']">{{p.catalog_description}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li ><a routerLink='/specialoffers' class="MenuBackground">RAMADAN SPECIAL </a></li>
                                      <li><a routerLink='/aboutus'  class="MenuBackground"> ABOUT US</a></li>
                                      <li><a routerLink='/contactus'  class="MenuBackground"> CONTACT US</a></li>

                                  </ul>
                              </nav>
                          </div>
                          <!--main menu end-->
                      </div>

                      <div class="col-lg-2">
                          <div class="call-support">
                              <p><a href="#"><b><font class="MenuBackground">905-965-4459</font></b></a> Customer Support

                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </header>
    <!--header area end-->






