
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="breadcrumb_content">
                     <h3  style="text-align: left;">Special Offers</h3>
                      <!-- <ul>
                          <li><a href="index.html">home</a></li>
                          <li>Special Offers</li>
                      </ul> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--breadcrumbs area end-->



  <!--contact area start-->
  <div class="contact_area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12">
                 <div class="contact_message content">
                     <img src="assets/img/logo/RamdanSpecial.jpg" alt="">

              </div>
          </div>
      </div>
  </div>

  <!--contact area end-->

