
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area" style="background: url('assets/img/bg/RamdanSpecial.jpg') no-repeat 0 0; background-size: cover;
    height: 200px">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="breadcrumb_content">
                     <!-- <h3  style="text-align: left;">Special Offers</h3> -->
                      <!-- <ul>
                          <li><a href="index.html">home</a></li>
                          <li>Special Offers</li>
                      </ul> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--breadcrumbs area end-->
  <div class="product_area  mb-64">
    <div class="container">
       <div class="row">
        <div class="col-12">
            <div class="product_header">
                <div class="section_title">
                </div>
                <div class="product_tab_btn"></div>
            </div>
          </div>
        </div>
        <div *ngIf="dealproductitems!=null">
          <app-product-item [productitem]="dealproductitems"></app-product-item>
        </div>
  </div>
  </div>
