

 <div class="row" >

<div class="product_container">

             <div class="col-12">
                      <div class="tab-pane fade show active" id="plant1" role="tabpanel">

                               <owl-carousel-o [options]="customOptions" >
                                <ng-container *ngFor="let productitem of productitem">
                                  <ng-template carouselSlide [id]="productitem.item_id">
                                  <div class="product_items">
                                  <article class="single_product">
                                      <figure>
                                          <div class="product_thumb">
                                              <a class="primary_img" [routerLink]="['/itemdetail',productitem.item_id]"><img [src]="productitem.item_primary_thumb" style="width: 100%;height:100%"></a>
                                              <div class="action_links">
                                                  <ul>
                                                      <li class="add_to_cart">

                                                        <a id="cart" (click)="addProductToCart(productitem)" data-tippy="Add to cart" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true"> <span class="lnr lnr-cart"></span></a>
                                                      </li>
                                                      <!--<li class="quick_button"><a href="#" data-tippy="quick view" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true" data-bs-toggle="modal" data-bs-target="#modal_box" > <span class="lnr lnr-magnifier"></span></a></li>
                                                       <li class="wishlist"><a href="wishlist.html" data-tippy="Add to Wishlist" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true"><span class="lnr lnr-heart"></span></a></li>
                                                      <li class="compare"><a href="#" data-tippy="Add to Compare" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true"><span class="lnr lnr-sync"></span></a></li>
 -->
                                                  </ul>
                                              </div>
                                          </div>
                                          <figcaption class="product_content">
                                              <h4 class="product_name"><a href="product-details.html">{{productitem.item_description}} </a></h4>

                                              <div class="price_box">

                                                    <span class="current_price" *ngIf="productitem.item_size==''">{{productitem.item_price | currency:'$'}} </span>



                                                    <span class="current_price" *ngIf="productitem.item_size!=''">{{productitem.item_price | currency:'$'}}  / {{productitem.item_size}} {{productitem.item_uom}}</span>



                                                  <img  *ngIf="isViewLoading" src="assets/img/product/ng-loader.gif" width="35px" height="35px"/>
                                              </div>
                                          </figcaption>
                                      </figure>
                                  </article>
                                </div>
                              </ng-template>
                              </ng-container>

                            </owl-carousel-o>




                  </div>
              </div>
          </div>
      </div>


