

 <div class="product_container" >

<div class="row">

             <div class="col-12">

                        <div class="row">

                        <div class="col-lg-4 col-sm-12" *ngFor="let productitem of productitem">
                                      <div class="card my-2" style="text-align:center;">

                                        <a class="primary_img" [routerLink]="['/itemdetail',productitem.item_id]">
                                                <img  [src]="productitem.item_primary_thumb" style="width:250px;height:250px;" class="card-img-top" >
                                        </a>

                                          <div class="card-header">
                                            <div class="card-title">
                                              <a [routerLink]="['/itemdetail',productitem.item_id]">{{productitem.item_description}} </a>
                                            </div>
                                          </div>
                                          <div class="card-body price_box">
                                             <span class="current_price" *ngIf="productitem.item_size==''">{{productitem.item_price | currency:'$'}} </span>
                                             <span class="current_price" *ngIf="productitem.item_size!=''">{{productitem.item_price | currency:'$'}}  / {{productitem.item_size}} {{productitem.item_uom}}</span>
                                         </div>

                                         <div class="row d-flex justify-content-center border-primary my-3">
                                          <div class="col-md-6 ">
                                            <button class="btn btn-outline-success btn-sm btn-block pull-left"
                                             (click)="addProductToCart(productitem)">Add To Cart

                                            </button>
                                            <img  *ngIf="isViewLoading" src="assets/img/ng-loader.gif" width="25px" height="25px"/>
                                          </div>
                                        </div>
                        </div>

                      </div>


                  </div>

          </div>
      </div>
</div>

