<div class="shipping_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="single_shipping">
                  <div class="shipping_icone">
                      <img src="assets/img/about/icon1.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h3>Halal Trusted</h3>
                      <p>We deliver only hand slaughtered HALAL certified meat. All our vendors are certified Halal meat suppliers in Canada.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="single_shipping col_2">
                  <div class="shipping_icone">
                      <img src="assets/img/about/icon2.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h3>Peace of Mind</h3>
                      <p>Avoid hassles of travelling, parking and bad weather. Place your order with us and get the delivery at your doorstep.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="single_shipping col_3">
                  <div class="shipping_icone">
                      <img src="assets/img/about/icon4.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h3>Why Miraj Deliveries</h3>
                      <p>We at Miraj Foods shop from your preferred vendors at very competitive price.</p>

                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="single_shipping col_4">
                  <div class="shipping_icone">
                      <img src="assets/img/about/icon3.png" alt="">
                  </div>
                  <div class="shipping_content">
                      <h3>100% Payment Secure</h3>
                      <p>We ensure secure payment with PEV</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
