
.btn-success {

  background-color:#40A944;
  border-color: #40A944;
}
.btn-success:hover {
  background-color:#40A944;
  border-color: #40A944;
}

.btn-outline-success:hover {
  background-color:#40A944;
  border-color: #40A944;
}
