 <div class="product_area  mb-64">
  <div class="container">
     <div class="row">
      <div class="col-12">
          <div class="product_header">
              <div class="section_title">
              </div>
              <div class="product_tab_btn"></div>
          </div>
      </div>
     </div>

      <div *ngIf="productitem!=null">
        <div class="product_container" >

          <div class="row">

                       <div class="col-12">
                                <div class="tab-pane fade show active" id="plant1" role="tabpanel">

                                         <owl-carousel-o [options]="customOptions" >
                                          <ng-container *ngFor="let productitem of productitem">
                                            <ng-template carouselSlide [id]="productitem.item_id" >
                                            <div class="product_items" >
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img" [routerLink]="['/itemdetail',productitem.item_id]"><img [src]="productitem.item_primary_thumb" style="width: 100%;height:100%"></a>
                                                    </div>
                                                    <figcaption class="product_content">
                                                        <h4 class="product_name"><a href="product-details.html">{{productitem.item_description}} </a></h4>
                                                        <div class="price_box">
                                                             <span class="current_price" *ngIf="productitem.item_size==''">{{productitem.item_price | currency:'$'}} </span>
                                                             <span class="current_price" *ngIf="productitem.item_size!=''">{{productitem.item_price | currency:'$'}}  / {{productitem.item_size}} {{productitem.item_uom}}</span>
                                                        </div>
                                                    </figcaption>
                                                    <div style="text-align: center;" >
                                                      <button class="btn btn-outline-success btn-sm btn-block" (click)="addProductToCart(productitem)">Add To Cart</button>
                                                      <img  *ngIf="isViewLoading" src="assets/img/product/ng-loader.gif" width="25px" height="25px"/>
                                                    </div>
                                                </figure>
                                            </article>
                                          </div>
                                        </ng-template>
                                        </ng-container>

                                      </owl-carousel-o>




                            </div>
                        </div>
                    </div>
                </div>

      </div>


  </div>
</div>

