    <!--slider area start-->

    <section class="slider_section">
      <div class="slider_area owl-carousel">
          <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                  <div class="col-lg-7">
                        <div class="slider_content">
                            <h1>Our Products are Fresh, Healthy and Halal…</h1>
                            <font style="color: green;font-size: 25px"><b>Online Shopping Experience.</b></font>
                            <p>
                             <b>We are committed to provide customers with exceptional service and affordable prices. Offer huge selection of halal chicken products that will meet the growing needs of your family and restaurants.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="slider_content">
                          <br><br><br>  <br><br><br>  <br><br><br>  <br><br>
                           <!--  <h1>Our Products are Fresh, Healthy and Halal…</h1> -->
                            <font style="color: black;font-size: 25px"><b>Online Shopping Experience.</b></font>
                            <p>
                            <b>Place your order any time, and delivered at your convenient time.</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="slider_content">
                          <h1 style="font-size:35px;">Our Products are Fresh,</h1>
                          <h1 style="font-size:35px;">Healthy and Halal…</h1>

                          <font style="color: green;font-size: 25px"><b>Online Shopping Experience.</b></font>
                            <p>
                              <b>We are committed to provide customers with exceptional service and affordable prices. Offer huge selection of halal chicken products that will meet the growing needs of your family and restaurants.</b>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>
  <!--slider area end-->

