    <!--slider area start-->

    <section class="slider_section">
      <div class="slider_area owl-carousel">
          <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slider_content">
                            <h1>Our Products are Fresh, Healthy and Halal…</h1>
                            <h2><font style="color: green"><b>Online Shopping Experience.</b></font></h2>
                            <p>
                              We are committed to provide customers with exceptional service and affordable prices. Offer huge selection of halal chicken products that will meet the growing needs of your family and restaurants.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slider_content">
                            <h1>Grocery with Miraj Food</h1>
                            <h2>Simplify online shopping</h2>
                            <p>
                            Place your order any time, and get your Grocery delivered at your convenient time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slider_content">
                            <h1>Fresh, Healthy, Halal Meat & Groceries</h1>
                            <h2>Simplify online shopping</h2>
                            <p>
                            Place your order any time, and get your Grocery delivered at your convenient time.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </section>
  <!--slider area end-->

